/*
Standard CSS Theme
*/
/*colors-scheme*/
.white-txt {color:#ffffff;}
.light-green {color:#6ac1a9;}
.bg-light-green {background-color:#6ac1a9;}
.bg-light-green a:hover {color:#2d7e68 !important;}
.bg-dark-green {background-color:#2d7e68;}
.bg-dark-green a:hover {color:#6ac1a9 !important;}

h1, h2, h3, h4, h5, h6, label {color:#6ac1a9 !important;font-size: 16px; color: #6ac1a9;  margin-bottom: 15px;}
p, a {font-size: 14px}
label {font-size: 14px}
html, body {background-color: #fff;font-family: 'Open Sans', sans-serif;}
body {padding-bottom: 0 !important}
.div-spacer {display: block;margin:10px 0; }
.no-m-btm {margin-bottom:0; border: none;}
.no-pad-left {padding-left: 0;}
.top-s-btn {  padding: 10px 12px !important;}
.profile-name h2 a {font-size: 28px ;}
.content-title {font-size: 16px; color: #6ac1a9;  margin-bottom: 15px; }
.content-title a {color: #6ac1a9; }

/*HEADER CSS*/
.page-header  {margin:0;padding-bottom:0;  border-bottom:none;}
.btn { padding: 12px 12px;background-color:#6ac1a9 ;border:0;font-size: 14px;}
.btn-default {  border-color: #6ac1a9;}
.btn:hover {background-color:#3d7f6b; }
.form-control {height:43px;border: 1px solid #6ac1a9;}
.form-control:focus, .form-control:active {border: 1px solid #6ac1a9;}
.navbar {border-radius:0;}
.navbar-nav>li>a {line-height: 28px;}

/*Boostrap custom*/
.dropdown-menu {background-color:#6ac1a9;border:solid 1px #fff; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {  background: #2d7e68 !important;}
.navbar-default .navbar-nav>.open>a:hover {color:#fff !important;}
.btn-primary {padding: 12px 12px;}
.dropdown-menu>li>a:hover {background-color:#2d7e68;color:#fff !important;}
.dropdown-menu .divider {  background-color: #fff !important;}
.btn-primary {  background: #6ac1a9 !important;  border-color: #6ac1a9 !important;}
.btn-primary:hover, .btn-primary:focus {border-radius:0 !important; border: 0 !important;background-color:#3d7f6b !important;}

.head-box {  padding: 20px 0;}
.head-nav ul li a {color:#ffffff !important;font-size: 14px}
.s-top-b {margin-top: 27px;}
.s-top-c {margin-top: 21px;}
.s-top-ca {margin-top: 30px;}
.s-top-cb img {float:left;}

.user-top {font-size: 16px; color: #6ac1a9; padding-left: 10px; margin-top: 9px; float: left; }

.my-data-edit {width: 100%; text-align: right; margin-top: 40px; margin-right: 18px; float: right; }
.my-data-edit .btn {  width: 125px; display: block; float: right; }
.my-data-edit span {width: 100%; float: right; margin-top: 6px; }
.my-data-edit span a {color:#fff; }
.margin-left {  margin-left: 15px;}
.social-top li {  margin-right: 0px;}
.social-top a i:hover {color:#2d7e68;}
/*END HEADER CSS*/

/*PROFILE INFO*/
.adjst-left {  padding-left: 181px;}
.profile-box {background: url('/images/profile-bg.jpg');display: block;height: 167px;  background-size: cover;}
.profile-pic {position: absolute; z-index: 9999; margin-top: -107px; margin-left: 13px; }
.profile-pic img {height: 154px;width: 154px;display: block;}
.sub-link {  background-color: #ececec; border: 0; }
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a {background:#6ac1a9 !important;}
.sub-link .container-fluid .navbar-collapse ul li:hover {background-color:#6ac1a9 !important;}
.profile-box .row .col-md-4 h2 {margin-top: 118px;color:#fff;}
.profile-box .row .col-md-4 h2 a {color:#fff;}
.profile-box .row .col-md-4 h2 a:hover {text-decoration: none;color:#2d7e68;}
/*END PROFILE INFO*/

/*EDI PROFILE*/
.l-accnt-nav h3 {  font-size: 14px; font-weight: 700; }
.l-accnt-nav ul li {padding: 6px 0 0 10px; font-size: 14px; }
.l-accnt-nav ul li a {color:#6ac1a9;}

/*sign-in-or-sign-up*/


/*END sign-in-or-sign-up*/

/*Footer*/
.footer-box {background-color:#6ac1a9;margin-top:25px; }
.footer-logo {text-align: center;}
.footer-logo img, .footer-logo span {display: block;}
.footer-logo img {margin-top:30px;}
.footer-logo span {color:#fff;padding: 10px 0;font-size: 14px;}
.copy-footer {background-color:#2d7e68;padding: 10px 0; }
.copytext span {color:#fff;}
.f-links, .f-links ul li a {color:#fff;  font-size: 14px;}
.f-links h3 {font-size: 14px;font-weight: 600;  font-size: 14px;}
.language-drop span {color:#fff;font-size: 12px;  display: inline-block;}
.f-links {margin-left: 20px;}
/*END Footer*/

/*ADVERTS CSS*/
.ads-box {height:305px;width: 100%;display: block;background-color: #e1e1e1;}
.ads-box h2 {position: relative; display: block; top: 40%; text-align: center;color:#fff !important;font-weight: bold; }

/*Removed Border Radius*/
.btn,.form-control {border-radius:0;}

/*Font-awesome Custom*/
.fa-2x {font-size: 1.5em !important;}
